
<% if user_signed_in?%>
  <div class="text-left">
    <p>ログイン中...</p>
    <%= button_to "ログアウト", destroy_user_session_path,method: :delete, class: "btn-element" %>
  </div>


<div class="tasks-wrapper">
  <h1>タスク一覧</h1>
  <%= link_to "新規タスク作成", new_task_path, class: "btn-element" %>

  <% if @tasks.empty? %>
    <p>タスクがありません。</p>
  <% else %>
    <p>タスクが <%= @tasks.count %> 件あります。</p>

    <% @tasks.each do |task| %>
      <div class="task-item">
        <h2><%= task.title %></h2>
        <p><strong>タイトル：</strong> <%= task.title %></p>
        <p><strong>内容: </strong> <%= task.description %></p>
        <p><strong>ステータス: </strong> <%= task.status ? '完了' : '未完了' %></p>
        <p><strong>作成日時:</strong> <%= task.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>

        <div class="btn-wrapper">
          <%= link_to "詳細", task_path(task), class: "btn-element" %>
          <%= link_to "削除", task, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn-element-main" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% else %>

  <h3 class="text-center">ログインして、タスクを管理しましょう。</h3>
  <div class="login-wrapper">
  <%= link_to "ログイン", new_user_session_path, class: "btn-element" %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn-element" %>
</div>

<% end %>


